<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./styles.css">
    <title>Url-shortner</title>

</head>


<h1>Url-Shortner</h1>
<% if (locals.id) { %>
    <p>url Generated: <a href="http://localhost:8001/<%= id %>">
        </a></p>
    <% } %>

        <div>
            <label>Enter the Url to Shorten</label>
            <form method="POST" action="/">
                <input type="text" name="url" placeholder="paste yout Link"></input>
                <button type="submit">Generate</button>
            </form>

        </div>
        <div>
            <% if (locals.urls) { %>
                <table>
                    <thead>
                        <th>S.no</th>
                        <th>Short</th>
                        <th>Original</th>
                        <th>Clicks</th>
                    </thead>
                    <tbody>
                    <tbody>
                        <% urls.forEach((url, index)=> { %>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td><a href="/<%= url.shortId %>">
                                        <%= url.shortId %>
                                    </a>

                                </td>
                                <td>
                                    <%= url.redirectURL %>
                                </td>
                                <td>
                                    <%= url.visitHistory.length %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>

                    </tbody>
                </table>

                <% } %>
        </div>

        <body>

        </body>

</html>